     table {
       
    }
    /* added custom font-family  */
     table.one {
        margin-bottom: 3em;
        border-collapse:collapse;
    }

   td { /* removed the border from the table data rows  */
        text-align: center;
        width: 10em;
        padding: 15em;
    }

   th { /* removed the border from the table heading row  */
        text-align: center;
        padding: 15em;
        background-color: #6f8393; /* added a red background color to the heading cells  */
        color: white;
        padding: 18px;
    }
    /* ed a white font color to the heading text */
   tr {
        height: 1em;
    }

   table tr:nth-child(even) { /* added all even rows a #eee color  */
        background-color: #eee;
    }

  table tr:nth-child(odd) { /* added all odd rows a #fff color  */
        background-color:#fff;
    }

    @font-face {
        font-family: 'glyphicons-halflings-regular';
        src: url('../fonts/glyphicons-halflings-regular.eot') format('embedded-opentype');
    }
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}