
<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/conToTender.js"></script>

<div style="padding:10px 0; text-align:right">
    <table>
        <tr>
            <td> search contestant: </td>
            <td><input id="search" type="text"style="padding:5px 10px"border-radios="1"/></td>
        </tr>  </table>
</div>

<div>
    <table class="table table-responsive" id="tblcon">
        <tr>
            <td>מספר מתמודד</td>
            <td>שם מתמודד</td>
            <td>משפחה</td>
            <td>add to tender</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<div style="padding:10px 0; text-align:right">
    <input id="save" type="button" value="Save checked" class="btn btn-warning" style="padding:10px 20px" />
</div>
